/*享品质*/
#enjoy-quality{
		margin-top: 50px;
}
/*享品质头行*/
#enjoy-quality .bgdot{
	height: 35px;
	background-image: url("../images/04.png"); 
	background-repeat: repeat-x;
	padding-bottom: 30px;
	position: relative;

}
#enjoy-quality .bgdot h3{
	text-align: center;
	text-decoration: none;
	padding:0 50px;
	background-color: #fff;
	position: absolute;
	font-weight: 400;
	font-size: 26px;
	top: -15px;
	left: 50%;
	margin-left: -90px;
	color:#333;
}
/*享品质内容*/
#enjoy-quality .eq-cont{
	overflow: hidden;
}
/*享品质左边内容*/
#enjoy-quality .eq-cont .eq-l{
	width: 810px;
	height: 540px;
}
#enjoy-quality .eq-cont .eq-l ul{
	overflow: hidden;
}
#enjoy-quality .eq-cont .eq-l ul li{
	float:left;
	width: 400px;
	height: 170px;
	position: relative;
	margin: 5px;
	margin-left: 0;
	cursor:pointer;
	overflow: hidden;
}
#enjoy-quality .eq-cont .eq-l ul li img{
	position:absolute;
	right:0;
}
#enjoy-quality .eq-cont .eq-l ul li .eq-aa{
	width: 100px;
	height: 130px;
	padding:20px;
	position: absolute;
	left: 0;
	top: 0;
	opacity:.8;
	background-color: #59b07d;
}
#enjoy-quality .eq-cont .eq-l ul li .eq-aa h4{
	height: 40px;
	font-size: 22px;
	font-weight: 400px;
	color:#fff;
	border-top: 2px solid #fff;
	line-height: 40px;
}
#enjoy-quality .eq-cont .eq-l ul li .eq-aa p{
	height: 32px;
	font-size: 14px;
	color:#fff;
	padding-top: 8px;
	border-top: 2px solid #fff;
	line-height: 16px;	
	margin-top: 8px;
}
/*享品质右边内容*/
#enjoy-quality .eq-cont .eq-r{
	width: 375px;
	height: 540px;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg{
	width: 375px;
	height: 355px;
	position:relative;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg p{
	width: 376px;
	height: 34px;
	position: relative;
	padding:2px 7px;
	background-color: rgba(0,0,0,.6);
	line-height: 34px;
	color:#fff;
	z-index: 1;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg img{
	width: 375px;
	height: 355px;
	position: absolute;
	left: 0;
	top: 0;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg ul{
	position: absolute;
	bottom: 20px;
	padding:5px;
	margin-left: -50px;
	left: 50%;
	overflow: hidden;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg ul li{
	float: left;
	width: 10px;
	height: 10px;
	background-color: #fff;
	margin: 0 5px;
	border-radius: 5px;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg ul li:first-child{
	background-color: red;
}
#eq-ltp{
	position: absolute;
	top: 50%;
	width: 20px;
	height: 50px;
	margin-top: -25px;
	background-color: rgba(0,0,0,.1);
	text-align: center;
	line-height: 50px;
	left: 0;
	cursor:pointer;
	z-index: 100;
}
#eq-rtp{
	position: absolute;
	top: 50%;
	width: 20px;
	right: 0;
	height: 50px;
	margin-top: -25px;
	background-color: rgba(0,0,0,.1);
	text-align: center;
	line-height: 50px;
	cursor:pointer;
	z-index: 100;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg p .twos{
	position: absolute;
	display: inline-block;
	font-size: 12px;
	width: 41px;
	right:41px;
}
#enjoy-quality .eq-cont .eq-r .eq-boximg p .twos i{
	width: 15px;
    height: 16px;
    position: absolute;
    top:10px;
    right: 0px;
    display: inline-block;
	background-image: url("../images/sprite_index@1x (1).png");
    background-position: -154px -40px;

}
#enjoy-quality .eq-cont .eq-r .eq-bxb{
	overflow: hidden;
	margin-top: 10px;
}
#enjoy-quality .eq-cont .eq-r .eq-bxb .bx-l{
	width: 180px;
	height: 170px;
	overflow: hidden;
	position: relative;
	margin-right: 7px;
}
#enjoy-quality .eq-cont .eq-r .eq-bxb .bx-l img{
	width: 180px;
	height: 170px;
	position: absolute;
	left: 0;
	top: 0;
}
#enjoy-quality .eq-cont .eq-r .eq-bxb .bx-l .eq-bx{
	height: 74px;
	width: 180px;
	padding-top: 10px;
	background-color: #6467a0;
	opacity:.8;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #fff;
}

/* 享品质底部 */
#enjoy-quality .eq-bottom {
  margin-top: 30px;
}
#enjoy-quality .eq-bottom ul{
	overflow: hidden;
}
#enjoy-quality .eq-bottom ul li{
	float: left;
	cursor: pointer;

}
#enjoy-quality .eq-bottom ul li:hover{
	opacity: .8;
}

 