body {
	width: 100%;
	position: relative;
}

#right-tab{
	list-style: none;
	position: fixed;
	top:320px;
	right: 10px;
}

#right-tab ul li {
	width: 34px;
	height: 35px;
	position: relative;
	background-color: #7a6e6e;
}

#right-tab ul li div {
	width: 34px;
	height: 36px;
	background-image: url("../images/toolbars.png");
}

#right-tab ul .one div {
	background-position: -88px -175px;
}

#right-tab ul .two div {
	background-position: -50px 0;
}

#right-tab ul .three div {
	background-position: -50px -50px;
}

#right-tab ul .four div {
	background-position: -50px -100px;
}

#right-tab ul .five div {
	background-position: -50px -250px;
}

#right-tab ul .six div {
	background-position: -50px -300px;
}

#right-tab ul li p {
	position: absolute;
	right: 34px;
	width: 0px;
	height: 35px;
	line-height: 36px;
	top: 0;
	color: #fff;
	overflow: hidden;
	background-color: #f10215;
	text-align: center;
}